ccs/designerplugin/ChaosCustomDesignerWidget/ChaosCustomDesignerWidget_autogen
ccs/designerplugin/ChaosCustomDesignerWidget/compile_commands.json
.devcontainer
*.pro.user*
cmake-build-debug
feature/ccs-synoptic-viewer
ccs/qrc_*
ccs/compile_commands.json
.scannerwork
asan_leak_suppression.txt
ccs_error
ccs_autogen
cov_html
coverage.info
*.gcov
ext_dep/*
doc/html
doc/img
doc/latex
*.ui.autosave
*.cbp
build_*
ccs/build_*
DartConfiguration.tcl
Testing
*CTestTest*
build-*/
chaos-distrib*/
config/CACHE/
external-*/
ccs/*.cpp_parameters
ccs/ccs.app/Contents/*
ccs/*.autosave
ccs/*moc_*
ccs/*ui_*
ccs/.qmake.stash
ccs/qrc_resources.cpp
ccs/qrc_theme.cpp
example/build-UIToolkitTest-*
ccs/ccs.pro.user*
build-ccs-*
*nbproject/private/*
build
*~
#*
CUSchemaDB*
*xccheckout*
xcshareddata
CMakeCache.txt
CMakeFiles/
Makefile
bin
cmake_install.cmake
install_manifest.txt
ChaosMDSLite/target/*-0.jar
ControlSystemLibTest/ChaosCU
example/UIToolkitCMDLineExample/UIToolkitCMDLineExample
example/UIToolkitTest/UIToolkitTest.pro.user
example/UIToolkitTest-build-*
example/ControlUnitTest/ControlUnitTest
example/UIToolkitTest/ui*.h
example/UIToolkitTest/moc*cpp
example/UIToolkitTest/testui.pbproj/qt*.mak
.DS_Store
*.xcuserdatad*
*bisegni*
*version.h
*.o
*.d
*.a
out.txt
EclipseWS/ChaosCU/out.txt
DerivedData
Debug
*.dblite
ChaosMsgClient/chaos
*.os
*.dylib
*.class
Documentation/html
Documentation/latex
ControlUnitTest/ChaosCUTest
*mwb.bak
example/UIToolkitTest/testui.app
*application.log
external
usr
example/build-UIToolkitTest-Desktop-Debug/*
ChaosMDSLite/RefCommon.jardesc
ChaosMDSLite/RefServer.jardesc
/example/UIToolkitTest/powersupply/nbproject/private/
/.project
.idea/
*.cpp_parameters
moc_*.cpp
ccs_automoc.cpp
ccs/ccs
ccs/qt_build*
vendor
composer.lock
config/localhost/#cu.cfg#
