@import url(../reindeer/styles.css);

.v-table-styles .v-table-cell-content {
    text-align: center;
    vertical-align: middle;
    padding-top: 12px;
    width: 20px;
    height: 28px;
}
/* Center the text in header. */
.v-table-header-cell {
    text-align: center;
}





.v-table-cell-content-red {
    background: white;
    color: red;
}

.v-table-cell-content-green {
    background: white;
    color: green;
}